@import "../styles/variables";

.progress_bar {
  background-color: #ffffff;
  position: relative;
  width: 200px;
  height: 50px;
  border: 1px solid var(--primary);
  cursor: pointer;
  border-radius: 15px;

  .popup-message {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    .popup-message {
      left: calc(0% - 200px);
      top: 0;
      position: absolute;
      background: white;
      border: 3px solid #053b47;
      border-radius: 20px;
      color: #053b47;
      padding: 15px 10px;
      z-index: 10;
      display: block;
    }
  }
  span {
    font-family: $inter-bold;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .bar {
    height: 100%;
    border-radius: 12px;
    text-align: left;
    background-color: var(--primary);
    animation: grow 1.5s ease-out forwards;
    transform-origin: left;
  }
  @keyframes grow {
    from {
      transform: scaleX(0);
    }
  }
}

.wellness {
  background-color: $dark_blue;
}
